.button a {
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-primary);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.primary-btn a:hover,
.secondary-btn a:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}
